@import '@components/button/button';

.dropdown {
  position: relative;
  width: 100%;
  font-family: $sans-serif-font;
  font-style: normal;

  &__select-container {
    position: relative;
    display: inline-flex;
    width: 100%;
    background: #fff;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    padding: 8px 44px 10px 14px;
    overflow: hidden;
    color: $dark-75;
    font-weight: normal;
    font-size: 1rem;
    font-family: $sans-serif-font;
    line-height: 1.714rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid $dark-25;
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    &::placeholder {
      color: $dark-75;
    }

    &:focus,
    &:hover {
      border: 1px solid $dark-50;
    }

    &_opened {
      border: 1px solid $dark-50;
      border-radius: 4px 4px 0 0;
    }
  }

  &__icon {
    position: absolute;
    top: 10px;
    right: 9px;
    color: $dark-50;
    font-weight: normal;
    font-size: 1.714rem;
    font-family: $material-icon-font;
    font-style: normal;
    line-height: 1.714rem;

    &_opened {
      color: $dark-75;
    }
  }

  &__select-list {
    display: none;
    margin-top: 0;

    & > :nth-child(2) {
      margin-top: 7.5px;
      margin-bottom: 7px;
    }

    &_type {
      &_guests {
        padding: 5px 6px 12px 15px;

        & > :last-child {
          margin-top: 22px;
        }
      }

      &_room {
        padding: 6px 6px 7px 15px;
      }
    }

    &_opened {
      position: absolute;
      z-index: 10;
      display: block;
      width: 100%;
      background: #fff;
      border: 1px solid $dark-50;
      border-top: none;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 10px 20px $dark-05;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    color: $dark-100;
    font-weight: bold;
    font-size: 0.857rem;
    line-height: 1.071rem;
    text-transform: uppercase;
  }

  &__score {
    width: 100%;
    text-align: center;
  }

  &__count {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    min-width: 91px;
    max-width: 92px;
  }

  &__button {
    &_theme {
      &_circled {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-width: 30px;
        max-width: 30px;
        padding-top: 3.2px;
        padding-bottom: 3.2px;
        color: $dark-50;
        font-weight: normal;
        font-size: 18px;
        font-family: $sans-serif-font;
        line-height: 22px;
        background-color: #fff;
        border: 1px solid $dark-25;
        border-radius: 22px;
        outline: none;
        cursor: pointer;
        user-select: none;

        &:focus,
        &:hover {
          text-shadow: 1px 1px 5px $dark-25;
        }
      }
    }

    &_hidden {
      opacity: 0;
    }

    &:disabled {
      cursor: default;
      opacity: 0.38;
    }
  }
}
