@import '@components/colors/colors';
@import '@components/logo/logo';
@import '@components/text-types/text-types';

.colors-types {
  width: 100%;
  background-color: #fff;

  &__content-block {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 67px 16px 125px 10px;
  }
}

@media (max-width: $sm) {
  .colors-types {
    &__content-block {
      padding-right: 10px;
      padding-left: 10px;
    }

    &__container {
      padding-right: 0;
      padding-left: 0;

      & > :first-child {
        margin-bottom: 30px;
      }
    }
  }
}
