@import '@components/bonus-icon/bonus-icon';
@import '@components/bullet-list/bullet-list';
@import '@components/calc-card/calc-card';
@import '@components/comment/comment';
@import '@components/donut-chart/donut-chart';
@import '@components/footer/footer';
@import '@components/header/header';
@import '@components/simple-footer/simple-footer';

.room-details {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__gallery {
    display: flex;
    flex-direction: row;

    &-item {
      width: 100%;
      margin: 0;

      &_size {
        &_large {
          display: flex;
          width: 68%;
        }
      }
    }
  }

  &__gallery-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__image {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    font-family: $sans-serif-font;
    font-style: normal;
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 712px;
    margin-right: 54px;
    padding-top: 70px;
    padding-bottom: 63px;

    & > :first-child {
      margin-bottom: 15px;
    }

    & > :nth-child(2) {
      margin-bottom: 34px;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__bonus-icon-container {
    width: 100%;
    max-width: 360px;

    & > :first-child {
      margin-bottom: 22px;
    }

    & > :nth-child(3) {
      margin-top: 22px;
      margin-bottom: 20px;
    }
  }

  &__donut-chart-container {
    & > :first-child {
      margin-bottom: 23px;
    }
  }

  &__comments-container {
    & > :nth-child(2) {
      margin-bottom: 25px;
    }
  }

  &__container-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    color: $dark-100;
    font-weight: bold;
    font-size: 1.357rem;
    line-height: 1.643rem;
  }

  &__text {
    margin: 0;
    color: $dark-75;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.714rem;

    &_theme {
      &_small-font {
        padding-top: 7px;
        padding-left: 2px;
        color: $dark-50;
        line-height: 16px;
      }
    }
  }

  &__bullet-list-container {
    width: 100%;
    max-width: 360px;

    & > :first-child {
      padding-left: 20px;
    }
  }

  &__text-container {
    width: 100%;
    max-width: 341px;
  }

  &__sidebar {
    position: relative;
    min-width: 380px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  &__card {
    position: sticky;
    top: 70px;
    bottom: 70px;
  }

  &__line {
    width: 100%;
    border-top: 1px solid $dark-25;
  }

  &__footer {
    &-block {
      margin-top: auto;
    }

    &_type {
      &_simple {
        display: none;
      }
    }
  }
}

@media (max-width: $lg) {
  .room-details {
    &__gallery {
      &-block {
        display: none;
      }

      &-item {
        &_size {
          &_large {
            width: 100%;
          }
        }
      }
    }

    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__column {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

@media (max-width: $sm) {
  .room-details {
    &__row {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &__donut-chart-container {
      height: 100%;
      margin-bottom: 20px;
    }

    &__title {
      width: 100%;
      text-align: center;
    }

    &__icon-list-container {
      margin-bottom: 20px;
    }

    &__bonus-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &__text {
      &_theme {
        &_small-font {
          display: none;
        }
      }
    }

    &__bullet-list-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    &__text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    &__sidebar {
      min-width: inherit;
      margin-top: 0;
    }

    &__footer {
      &_type {
        &_simple {
          display: block;
        }
      }
    }
  }
}

@media (max-width: $xs) {
  .room-details {
    &__wrapper {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}
