.pagination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 241px;

  &__text {
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 4px;
    color: $dark-75;
    font-weight: normal;
    font-size: 1rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.714rem;
    cursor: default;
  }
}

ul.simple-pagination {
  font-weight: bold;
  font-size: 0.857rem;
  font-family: $sans-serif-font;
  font-style: normal;
  line-height: 1.071rem;
  text-transform: uppercase;
  list-style: none;
}

span.ellipse.clickable {
  cursor: pointer;
}

.ellipse input {
  width: 3em;
}

.simple-pagination {
  display: block;
  max-width: 241px;
  margin: 0;
  overflow: hidden;
}

.disabled-prev {
  display: none;
}

.activePagination > .current {
  display: inline-block;
  color: #fff;
  font-weight: bold;
}

.simple-pagination ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.simple-pagination li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 40px;
  padding-right: 17.65px;
  padding-left: 17.65px;
  list-style: none;
  cursor: pointer;
}

.activePagination {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background: $primary-gradient;
  border-radius: 22px;
}

.page-link {
  color: $dark-50;
  font-weight: normal;
  text-decoration: none;
}

.ellipse {
  color: $dark-50;
  font-weight: normal;
}

.next {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  max-width: 40px;
  padding: 8px 9.5px;
  color: #fff;
  font-weight: normal;
  font-size: 1.714rem;
  font-family: $material-icon-font;
  font-style: normal;
  line-height: 1.714rem;
  text-transform: none;
  background: $secondary-gradient;
  border-radius: 22px;
}
