@import 'air-datepicker/dist/css/datepicker.min';

.dropdown-date {
  &__wrapper {
    display: flex;
    flex-direction: row;

    & > :nth-child(1) {
      margin-right: 20px;
    }
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $dark-100;
    font-weight: bold;
    font-size: 0.857rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.071rem;
    text-transform: uppercase;
    cursor: pointer;

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      color: $dark-50;
      font-weight: normal;
      font-size: 1.714rem;
      font-family: $material-icon-font;
      font-style: normal;
      line-height: 1.714rem;
      text-transform: none;
      content: 'expand_more';
    }
  }

  &__input {
    width: 100%;
    margin-top: 5px;
    padding: 9.2px 44px 9.2px 15px;
    color: $dark-75;
    font-weight: normal;
    font-size: 1rem;
    font-family: $sans-serif-font;
    line-height: 1.714rem;
    background: #fff;
    border: 1px solid $dark-25;
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    &_size {
      &_small {
        width: 100%;
        max-width: 150px;
      }
    }

    &::placeholder {
      color: $dark-75;
    }

    &:hover {
      border: 1px solid $dark-50;

      &::placeholder {
        color: $dark-75;
      }
    }

    &:focus {
      color: $dark-75;
      border: 1px solid $dark-50;
      outline: none;

      &::placeholder {
        color: $dark-75;
      }
    }
  }
}

.datepicker--cell {
  height: 100%;
  max-height: 40px;
  padding: 4.5% 0;
  color: $dark-50;
  font-weight: normal;
  font-size: 0.857rem;
  line-height: 1.071rem;
  text-transform: uppercase;
}

.datepicker--cell.-focus- {
  color: #fff;
  font-weight: bold;
  background: #4eb5e6;
  border-radius: 50%;
}

.datepicker--cell.-in-range- {
  color: $dark-50;
  background-color: rgba(188, 156, 255, 0.2);
  border-radius: 0;
}

.datepicker--cell.-in-range-.-focus- {
  color: #fff;
  background-color: rgba(188, 156, 255, 0.5);
  border-radius: 50%;

  &::after {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(188, 156, 255, 0.2);
    content: '';
  }
}

.datepicker--cell.-other-month- {
  color: $dark-25;
}

.datepicker--cell.-other-month-.-in-range- {
  color: $dark-50;
  background-color: rgba(188, 156, 255, 0.2);
}

.datepicker--cell.-other-month-.-focus- {
  color: #fff;
  background: $dark-25;
}

.datepicker--cell.-range-from- {
  position: relative;
  color: #fff;
  font-weight: bold;
  background: $primary-gradient;
  border: none;
  border-radius: 22px;

  &::after {
    position: absolute;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    color: rgb(175, 159, 159);
    background-color: rgba(188, 156, 255, 0.2);
    border-radius: 22px 0 0 22px;
    content: '';
  }
}

.datepicker--cell.-range-to- {
  position: relative;
  color: #fff;
  font-weight: bold;
  background: $primary-gradient;
  border: none;
  border-radius: 50%;

  &::after {
    position: absolute;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(188, 156, 255, 0.2);
    border-radius: 0 22px 22px 0;
    content: '';
  }
}

.datepicker--cell.-current- {
  color: #fff;
  font-weight: bold;
  background: $secondary-gradient;
  border-radius: 22px;
}

.datepicker--cell.-current-.-in-range- {
  color: #fff;
  background: $secondary-gradient;

  &::after {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(188, 156, 255, 0.2);
    content: '';
  }
}

.datepicker--cell.-current-.-focus- {
  color: #fff;
  background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);

  &::after {
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
  }
}

.datepicker--cell.-range-from-.-range-to- {
  border-radius: 4px;
}

.datepicker--cell.-selected- {
  color: #fff;
  font-weight: bold;
  background: $primary-gradient;
  border: none;
  border-radius: 50%;
}

.datepicker--cell.-selected-.-current- {
  color: #fff;
  background: $primary-gradient;
}

.datepicker--cell.-selected-.-focus- {
  color: #fff;
}

.datepicker--days-names {
  margin-bottom: 14px;
}

.datepicker--day-name {
  color: $color-one;
  font-weight: bold;
  font-size: 0.857rem;
  line-height: 1.071rem;
  text-transform: none;
}

.datepicker--cell-month.-focus- {
  border-radius: 4px;
}

.datepicker--cell-year.-focus- {
  border-radius: 4px;
}

.datepicker--cell.-disabled- {
  color: $dark-10;
  &::after {
    display: none;
    content: '';
  }
}

.datepicker--cell.-disabled-.-focus- {
  color: $dark-10;
  font-weight: 400;
  background: #fff;
  &::after {
    display: none;
    content: '';
  }
}

.datepicker--cell.-disabled-.-in-range- {
  color: $dark-10;
  background: #fff;
}

.datepicker--cell.-disabled-.-range-from- {
  color: $dark-10;
  font-weight: 400;
  background: #fff;
  border: none;
}

.datepicker--cell.-disabled-.-other-month-.-focus- {
  color: $dark-10;
  font-weight: 400;
  background: #fff;
  border: none;
}

.datepicker--cell.-disabled-.-range-from-.-focus- {
  color: $dark-10;
  background: #fff;
  border: none;
}

.datepickers-container {
  width: 100%;
  max-width: 320px;
}

.datepicker {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding-top: 17px;
  padding-right: 20px * 100% / 320px;
  padding-bottom: 11px;
  padding-left: 19px * 100% / 320px;
  font-family: $sans-serif-font;
  font-style: normal;
  background: #fff;
  border: 1px solid $dark-25;
  border-radius: 4px;
  box-shadow: 0 10px 20px $dark-05;
}

.datepicker-inline .datepicker {
  max-width: 320px;
}

.datepicker--content {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 13px;
}

.datepicker--body.active {
  width: 100%;
}

.datepicker--nav {
  padding: 0;
  border: none;
}

.datepicker--nav-action {
  width: auto;
  padding-bottom: 23px;

  &:hover {
    background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
    -webkit-background-clip: text;
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
  }
}

.material--icon {
  color: $color-one;
  font-weight: normal;
  font-size: 1.714rem;
  font-family: $material-icon-font;
  font-style: normal;
  line-height: 1.714rem;
  text-transform: none;
}

.datepicker--nav-title {
  max-width: 100px;
  padding-right: 8px;
  padding-left: 10px;
  color: $dark-100;
  font-weight: bold;
  font-size: 1.357rem;
  line-height: 1.786rem;
  text-align: center;

  &:hover {
    background: none;
    opacity: 0.7;
  }
}

.datepicker--buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: none;
}

.datepicker--button {
  display: inline-flex;
  flex: 0;
  color: $color-one;
  font-weight: bold;
  font-size: 0.857rem;
  line-height: 1.071rem;
  text-transform: uppercase;

  &:focus,
  &:hover {
    background: none;
    opacity: 0.5;
  }
}

@media (max-width: $xxs) {
  .dropdown-date {
    &__wrapper {
      flex-wrap: wrap;

      & > :first-child {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    &__input {
      &_size {
        &_small {
          width: 100%;
          max-width: none;
        }
      }
    }
  }

  .datepicker--cell {
    padding: 3.9% 0;
  }
}
