.radio {
  display: flex;
  width: 100%;

  &__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    color: $dark-50;
    font-weight: normal;
    font-size: 1rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.714rem;
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &__mark {
    position: relative;
    display: inline-block;
    max-width: 18px;
    max-height: 18px;
    padding: 9px;
    background-color: #fff;
    border: 1px solid $dark-25;
    border-radius: 50%;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 12px;
      height: 12px;
      margin: auto;
      background: $primary-gradient;
      border-radius: 50%;
      opacity: 0;
      content: '';
    }
  }
  &__text {
    margin-left: 10px;
  }
}

.radio__input:checked + .radio__mark::after {
  opacity: 1;
}

.radio__input:checked + .radio__mark {
  border: 1px solid $color-one;
}

.radio__input:checked + .radio__label {
  color: $dark-75;
}
