.rate-button {
  &__item {
    display: inline-block;
    font-weight: normal;
    font-size: 1.714rem;
    font-family: $material-icon-font;
    font-style: normal;
    line-height: 1.429rem;
    background: $primary-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
