*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  color: $dark-75;
  font-size: 14px;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}
