@import '@components/footer/footer';
@import '@components/header/header';
@import '@components/search-card/search-card';
@import '@components/simple-footer/simple-footer';

.landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    width: 100%;
    background-image: url('~@/assets/images/bg-image-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: animation-frames linear 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes animation-frames {
      0% {
        opacity: 0.15;
      }

      25% {
        opacity: 0.35;
      }

      50% {
        opacity: 0.5;
      }

      75% {
        opacity: 0.75;
      }

      100% {
        opacity: 1;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 20px;
  }

  &__card {
    width: 100%;
    max-width: 380px;
    margin-bottom: 317px;
  }

  &__text {
    align-self: flex-end;
    width: 100%;
    max-width: 280px;
    margin-top: 0;
    margin-bottom: 23px;
    color: $dark-75;
    font-weight: normal;
    font-size: 1rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.714rem;
    text-align: right;
  }

  &__footer {
    &-block {
      margin-top: auto;
    }

    &_type {
      &_simple {
        display: none;
      }
    }
  }
}

@media (max-width: $sm) {
  .landing {
    &__footer {
      &_type {
        &_simple {
          display: block;
        }
      }
    }
  }
}

@media (max-width: $xs) {
  .landing {
    &__wrapper {
      align-items: center;
      justify-content: center;
      padding-right: 10px;
      padding-left: 10px;
    }

    &__text {
      opacity: 0;
    }
  }
}
