.button {
  width: 100%;
  padding: 0;
  color: $color-one;
  font-weight: bold;
  font-size: 0.857rem;
  font-family: $sans-serif-font;
  font-style: normal;
  line-height: 1.071rem;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  border-radius: 22px;
  outline: none;
  cursor: pointer;

  &:focus {
    text-shadow: 1px 1px 5px $dark-25;
  }

  &:hover {
    opacity: 0.5;
  }
  &_theme {
    &_filled {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: $primary-gradient;
      background-origin: border-box;
      border: solid 2px transparent;

      &:focus {
        text-shadow: none;
        box-shadow: 1px 1px 5px 3px $color-one;
      }
    }
    &_bordered {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: $color-one;
      background-image: linear-gradient(#fff, #fff), $primary-gradient;
      background-clip: padding-box, border-box;
      background-origin: border-box;
      border: solid 2px transparent;

      &:focus {
        text-shadow: none;
        box-shadow: 1px 1px 5px 3px $color-one;
      }
    }
  }

  &_color {
    &_grey {
      color: $dark-50;
    }
  }

  &_type {
    &_link {
      text-decoration: none;
    }

    &_submit {
      position: relative;

      &::before {
        position: absolute;
        top: 8px;
        right: 8px;
        color: #fff;
        font-weight: normal;
        font-size: 1.714rem;
        font-family: $material-icon-font;
        font-style: normal;
        line-height: 1.714rem;
        text-transform: none;
        content: 'arrow_forward';
      }
    }
  }

  &_size {
    &_m {
      padding-top: 12.8px;
      padding-bottom: 12.8px;
    }

    &_s {
      padding-top: 7.8px;
      padding-bottom: 7.8px;
    }
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;

    &:focus {
      box-shadow: none;
    }
  }
}
