.like-button {
  position: relative;
  display: flex;
  margin-right: 10px;
  padding: 9px 19px;
  color: $dark-25;
  font-weight: normal;
  font-size: 0.714rem;
  font-family: $sans-serif-font;
  font-style: normal;
  line-height: 0.857rem;
  background-color: #fff;
  border: 1px solid $dark-25;
  border-radius: 10px;
  outline: none;
  cursor: pointer;

  &:focus {
    box-shadow: 1px 1px 10px 1px $dark-25;
  }

  &:hover {
    opacity: 0.7;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 5px;
    color: $dark-25;
    font-weight: normal;
    font-family: $material-icon-font;
    font-style: normal;
    text-transform: none;
    transform: translateY(-50%);
    content: 'favorite_border';
  }

  &_active {
    color: $color-one;
    background-image: linear-gradient(white, white), $primary-gradient;
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: solid 1px transparent;
    border-radius: 10px;

    &:focus {
      box-shadow: 1px 1px 10px 1px rgba(188, 156, 255, 0.7);
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 5px;
      background: $primary-gradient;
      background-clip: text;
      transform: translateY(-50%);
      content: 'favorite';
      -webkit-text-fill-color: transparent;
    }
  }

  &__count {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}
