@import '@components/checkbox/checkbox';
@import '@components/description/description';
@import '@components/dropdown/dropdown';
@import '@components/dropdown-date/dropdown-date';
@import '@components/expandable-checkbox/expandable-checkbox';
@import '@components/footer/footer';
@import '@components/header/header';
@import '@components/pagination/pagination';
@import '@components/range-slider/range-slider';
@import '@components/room-card/room-card';
@import '@components/simple-footer/simple-footer';

.search-room {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fff;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px 72px;
    font-family: $sans-serif-font;
    font-style: normal;
  }

  &__filter {
    width: 100%;
    max-width: 266px;
    margin-right: 20px;
  }

  &__dropdown-date {
    margin-bottom: 22px;
  }

  &__block-guests {
    margin-bottom: 31px;

    & > :first-child {
      margin-bottom: 5px;
    }
  }

  &__block-slider {
    margin-bottom: 31px;

    & > :first-child {
      margin-bottom: 11px;
    }
  }

  &__text {
    margin: 0;
    color: $dark-50;
    font-weight: normal;
    font-size: 0.857rem;
    line-height: 1rem;
    text-align: center;
  }

  &__checkboxes {
    margin-bottom: 32px;

    & > :first-child {
      margin-bottom: 15px;
    }

    & > :nth-child(3) {
      margin-top: 14px;
      margin-bottom: 13px;
    }
  }

  &__rich-checkboxes {
    margin-bottom: 31px;

    & > :first-child {
      margin-bottom: 16px;
    }

    & > :nth-child(2) {
      margin-bottom: 10px;
    }
  }

  &__dropdown-room-block {
    margin-bottom: 16px;

    & > :first-child {
      margin-bottom: 5px;
    }
  }

  &__rooms {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 835px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 21px;
    color: $dark-100;
    font-weight: bold;
    font-size: 1.714rem;
    line-height: 2.071rem;
  }

  &__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    margin-bottom: 19px;
    padding: 0;
  }

  &__card-item {
    margin-bottom: 21px;
    list-style-type: none;
  }

  &__pagination {
    align-self: center;
    margin-right: 13px;
  }

  &__line {
    width: 100%;
    border-top: 1px solid $dark-25;
  }

  &__footer {
    &-block {
      margin-top: auto;
    }

    &_type {
      &_simple {
        display: none;
      }
    }
  }
}

@media (max-width: $lg) {
  .search-room {
    &__rooms {
      align-items: center;
      justify-content: center;
    }

    &__card-item {
      margin-right: 5px;
    }
  }
}

@media (max-width: $md) {
  .search-room {
    &__card-list {
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: $sm) {
  .search-room {
    &__content {
      flex-direction: column;
    }

    &__filter {
      max-width: 480px;
      margin: 0 auto;
      margin-bottom: 40px;
    }

    &__title {
      text-align: center;
    }

    &__footer {
      &_type {
        &_simple {
          display: block;
        }
      }
    }
  }
}
