.toxin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  &__link-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__link-item {
    margin-bottom: 20px;
  }

  &__link {
    color: $dark-100;
    font-weight: bold;
    font-size: 1.357rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.643rem;
    text-decoration: none;
  }
}
