@import '@components/checkbox/checkbox';

.expandable-checkbox {
  position: relative;
  width: 100%;

  &__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 14.8px;
    padding-bottom: 16px;
    color: $dark-100;
    font-weight: bold;
    font-size: 0.857rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.071rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__arrow {
    position: absolute;
    top: 11px;
    right: 10px;
    color: $dark-50;
    font-weight: normal;
    font-size: 1.714rem;
    font-family: $material-icon-font;
    font-style: normal;
    line-height: 1.714rem;
    text-transform: none;

    &_opened {
      transform: rotate(180deg);
    }
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &_hidden {
      display: none;
    }
  }

  &__item {
    margin-bottom: 13px;
  }
}
