.range-slider {
  position: relative;
  width: 100%;

  &__label {
    display: inline-block;
    width: 100%;
    min-width: 266px;
  }

  &__text {
    color: $dark-100;
    font-weight: bold;
    font-size: 0.857rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.071rem;
    text-transform: uppercase;
    vertical-align: top;
  }
}

.irs {
  display: block;
  width: 100%;
  color: $dark-50;
  font-weight: normal;
  font-size: 0.857rem;
  font-family: $sans-serif-font;
  font-style: normal;
  line-height: 1.071rem;
  text-transform: uppercase;
  user-select: none;
}

.irs-line {
  display: block;
  width: 100%;
  margin-top: 22px;
  overflow: hidden;
  outline: none !important;
  cursor: pointer;
}

.irs-bar {
  position: absolute;
  left: 0;
  display: block;
  width: 0;
  cursor: pointer;
}

.irs-handle.type_last {
  z-index: 2;
}

.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  white-space: nowrap;
}

.irs-single {
  text-align: right;
  visibility: visible !important;
}

.irs-from,
.irs-to {
  visibility: hidden !important;
}

.irs-hidden-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: -9999 !important;
  display: block !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  font-size: 0 !important;
  line-height: 0 !important;
  background: none !important;
  border-color: transparent !important;
  border-style: solid !important;
  outline: none !important;
}

.irs--flat .irs-bar {
  top: 37.5px;
  height: 7px;
  background: $secondary-gradient;
}

.irs--flat .irs-bar--single {
  border-radius: 4px 0 0 4px;
}

.irs--flat .irs-shadow {
  bottom: 16px;
  height: 1px;
  background-color: #e1e4e9;
}

.irs--flat .irs-handle {
  top: 33.4px;
  width: 16px;
  height: 16px;
  margin-left: -1px;
  background: $secondary-gradient;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
}

.irs-handle {
  position: absolute;
  z-index: 1;
  display: block;
  cursor: pointer;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 0;
  display: none;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  color: $dark-50;
}

.irs--flat .irs-line {
  top: 17px;
  height: 6px;
  background-color: #fff;
  border: 1px solid $dark-25;
  border-radius: 3px;
}
