@import '@components/footer/footer';
@import '@components/header/header';
@import '@components/registration-card/registration-card';
@import '@components/simple-footer/simple-footer';

.registration {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    width: 100%;
    background-image: url('~@/assets/images/bg-image-4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform-origin: 50% 50%;
    animation: animation-frames linear 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes animation-frames {
      0% {
        opacity: 0.15;
      }

      25% {
        opacity: 0.35;
      }

      50% {
        opacity: 0.5;
      }

      75% {
        opacity: 0.75;
      }

      100% {
        opacity: 1;
      }
    }
  }

  &__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 19px;
    padding-bottom: 18px;
  }

  &__card {
    width: 100%;
    max-width: 383px;
    margin: 0 auto;
    padding-left: 4px;
  }

  &__footer {
    &-block {
      margin-top: auto;
    }

    &_type {
      &_simple {
        display: none;
      }
    }
  }
}

@media (max-width: $sm) {
  .registration {
    &__card {
      max-width: 380px;
      padding: 0;
    }

    &__footer {
      &_type {
        &_simple {
          display: block;
        }
      }
    }
  }
}

@media (max-width: $xs) {
  .registration {
    &__content {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}
