@import '@components/button/button';
@import '@components/description/description';
@import '@components/radio/radio';
@import '@components/text-field/text-field';
@import '@components/toggle/toggle';

.registration-card {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  padding: 40px 30px 29px 30px;
  font-family: $sans-serif-font;
  font-style: normal;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  &__form {
    margin-bottom: 30px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 21px;
    color: $dark-100;
    font-weight: bold;
    font-size: 1.714rem;
    line-height: 2.071rem;
  }

  &__text-field {
    margin-bottom: 10px;
  }

  &__radio-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 220px;
    margin-bottom: 22px;
  }

  &__birthday {
    display: flex;
    flex-direction: column;
    margin-bottom: 11px;
  }

  &__description {
    margin-bottom: 5px;
  }

  &__email {
    & > :nth-child(3) {
      margin-bottom: 7px;
    }
  }

  &__toggle {
    margin-bottom: 23px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    margin: 0;
    padding-bottom: 1px;
    color: #000;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
  }

  &__button {
    width: 100%;
    max-width: 99px;
  }
}
