.logo {
  &__gray-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    padding-top: 30px * 100%/ 1410px;
    padding-left: 30px * 100%/ 1410px;
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
  }

  &__text {
    margin-left: 12.5px;
  }
}
