@import '@components/button/button';
@import '@components/text-field/text-field';

.sign-in-card {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  padding: 40px 28px 31px 29px;
  font-family: $sans-serif-font;
  font-style: normal;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  &__title {
    margin-top: 0;
    margin-bottom: 21px;
    color: $dark-100;
    font-weight: bold;
    font-size: 1.714rem;
    line-height: 2.071rem;
  }

  &__form {
    margin-bottom: 30px;

    & > :nth-child(1) {
      margin-bottom: 10px;
    }

    & > :nth-child(2) {
      margin-bottom: 20px;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    margin: 0;
    color: #000;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.286rem;
  }

  &__button {
    width: 100%;
    max-width: 100px;
  }
}
