@import '@components/like-button/like-button';

.comment {
  color: $dark-75;
  font-weight: normal;
  font-size: 1rem;
  font-family: $sans-serif-font;
  font-style: normal;
  line-height: 1.714rem;

  &__block-user {
    display: flex;
    flex-direction: row;
  }

  &__user-photo {
    max-width: 46px;
    max-height: 46px;
    margin-right: 12px;
  }

  &__photo {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 10px 20px $dark-10;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  &__user-name {
    font-weight: bold;
  }

  &__block {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
  }

  &__like-button {
    padding-top: 13px;
    padding-right: 4px;
  }

  &__text {
    max-width: 655px;
    margin-top: 12px;
    margin-bottom: 0;
  }
}
