@import '@components/button/button';
@import '@components/description/description';
@import '@components/dropdown/dropdown';
@import '@components/dropdown-date/dropdown-date';

.calc-card {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  padding: 40px 21px 29px 30px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  &__wrapper {
    margin-right: 8px;
    font-family: $sans-serif-font;
    font-style: normal;
  }

  &__room-info {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    margin-bottom: 22px;
  }

  &__number {
    color: $dark-100;
    font-weight: bold;
    font-size: 1.714rem;
    line-height: 2.071rem;

    &-info {
      margin: 0;
    }

    &_size {
      &_small {
        font-size: 1rem;
        line-height: 1.214rem;
      }
    }

    &-lux {
      color: $color-one;
      font-weight: bold;
      font-size: 0.857rem;
      line-height: 1.071rem;
      text-transform: uppercase;
    }
  }

  &__price {
    color: $dark-50;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.286rem;

    &-info {
      margin: 0;
    }

    &_size {
      &_small {
        font-weight: 400;
        font-size: 0.857rem;
      }
    }
  }

  &__dropdown-date {
    margin-bottom: 22px;
  }

  &__guests {
    margin-bottom: 18px;
  }

  &__description {
    margin-bottom: 5px;
  }

  &__calculating-items {
    margin-bottom: 33px;
    padding: 0;

    & > :nth-of-type(2) {
      margin-top: 11px;
      margin-bottom: 12.7px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $dark-75;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.714rem;
    list-style-type: none;

    &-calculating {
      width: 80%;
      max-width: 240px;
      margin: 0;

      &_size {
        &_small {
          line-height: 1.286rem;
        }
      }

      &_type {
        &_with-icon {
          position: relative;
          padding-right: 20px;

          &::before {
            position: absolute;
            top: 1px;
            right: 1px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            color: $dark-25;
            font-weight: bold;
            font-size: 0.857rem;
            line-height: 1.071rem;
            text-transform: lowercase;
            border: 1px solid $dark-25;
            border-radius: 50%;
            content: 'i';
          }
        }
      }
    }

    &-total {
      width: 20%;
      margin: 0;
      margin-left: 10px;
      white-space: nowrap;
      text-align: right;
    }
  }

  &__total {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    margin-bottom: 22px;

    &-text {
      color: $dark-100;
      font-weight: bold;
      font-size: 1.357rem;
      line-height: 1.643rem;
      white-space: nowrap;
    }

    &-line {
      position: relative;
      bottom: 4px;
      width: 100%;
      border-bottom: 1px dashed $dark-25;
    }
  }

  &__button {
    width: 100%;
    max-width: 320px;
  }
}

@media (max-width: $xxs) {
  .calc-card {
    padding-right: 20px;
    padding-left: 20px;

    &__wrapper {
      margin-right: 0;
    }

    &__item-calculating {
      max-width: 210px;
      padding-right: 30px;
      line-height: 1.286rem;
      &::before {
        top: 7px;
      }
    }
  }
}
