.chart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  color: $dark-75;
  font-weight: normal;
  font-size: 1rem;
  font-family: $sans-serif-font;
  font-style: normal;
  line-height: 1.714rem;

  &__wrapper {
    position: relative;
    margin-bottom: 10px;
  }

  &__diagram-label {
    position: absolute;
    z-index: 10;
    margin: 0;
    padding: 4px;
    color: #fff;
    font-size: 0.929rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    opacity: 1;
    pointer-events: none;

    &_hidden {
      opacity: 0;
    }
  }

  &__info {
    position: absolute;
    top: 29%;
    display: inline-flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  &__count {
    margin-bottom: 2px;
    color: $color-one;
    font-weight: bold;
    font-size: 1.714rem;
    line-height: 2.071rem;
  }

  &__text {
    color: $color-one;
    font-weight: bold;
    font-size: 0.857rem;
    line-height: 1.071rem;
    text-transform: uppercase;
  }

  &__legend {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 29px;
  }

  &__item {
    list-style-type: none;

    &_type {
      &_excellent {
        &::before {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-right: 5px;
          background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
          border-radius: 50%;
          content: '';
        }
      }

      &_good {
        &::before {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-right: 5px;
          background: $secondary-gradient;
          border-radius: 50%;
          content: '';
        }
      }

      &_satisfactory {
        &::before {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-right: 5px;
          background: $primary-gradient;
          border-radius: 50%;
          content: '';
        }
      }

      &_disappointed {
        &::before {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin-right: 5px;
          background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
          border-radius: 50%;
          content: '';
        }
      }
    }
  }
}

@media (max-width: $xxs) {
  .chart {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__legend {
      padding-bottom: 0;
    }
  }
}
