.text-types {
  display: flex;
  flex-direction: row;
  max-width: 436px;
  font-weight: normal;
  font-family: $sans-serif-font;
  font-style: normal;

  &__headers-wrapper {
    margin-right: 29px;
    text-align: right;
  }

  &__header {
    color: $dark-25;

    &_type {
      &_h1 {
        margin-bottom: 81px;
        font-size: 1.714rem;
        line-height: 2.071rem;
        text-transform: uppercase;
      }

      &_h2 {
        margin-bottom: 76px;
        font-size: 1.357rem;
        line-height: 1.643rem;
        text-transform: uppercase;
      }

      &_h3 {
        margin-bottom: 48px;
        font-size: 0.857rem;
        line-height: 1.071rem;
        text-transform: uppercase;
      }

      &_body {
        font-size: 1rem;
        line-height: 1.714rem;
      }
    }
  }

  &__text {
    &_type {
      &_h1 {
        margin-bottom: 53px;
        color: $dark-100;
        font-weight: bold;
        font-size: 1.714rem;
        line-height: 2.071rem;
      }

      &_h2 {
        margin-bottom: 52px;
        color: $dark-100;
        font-weight: bold;
        font-size: 1.357rem;
        line-height: 1.643rem;
      }

      &_h3 {
        margin-bottom: 47px;
        color: $dark-100;
        font-weight: bold;
        font-size: 0.857rem;
        line-height: 1.071rem;
        text-transform: uppercase;
      }

      &_body {
        max-width: 301px;
        color: $dark-75;
        font-size: 1rem;
        line-height: 1.714rem;
      }
    }
  }
}
