@import '@components/button/button';
@import '@components/description/description';
@import '@components/dropdown/dropdown';
@import '@components/dropdown-date/dropdown-date';

.search-card {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  padding: 39px 28px 29px 29px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  &__title {
    margin-top: 0;
    margin-bottom: 23px;
    color: $dark-100;
    font-weight: bold;
    font-size: 1.714rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 2.071rem;
  }

  &__date {
    margin-bottom: 22px;
  }

  &__container {
    margin-bottom: 31px;
  }

  &__description {
    margin-bottom: 5.7px;
  }
}
