@import '@components/logo/logo';
@import '@components/social-icons/social-icons';

.footer-simple {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 122px;
  background-color: #fff;
  box-shadow: 0 10px 20px $dark-05;

  &__text {
    margin-top: 18px;
    margin-bottom: 20px;
    color: $dark-75;
    font-weight: normal;
    font-size: 1rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.714rem;
    text-align: center;
    cursor: default;
  }
}

@media (max-width: $xs) {
  .footer-simple {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}
