.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: $dark-100;
  font-weight: bold;
  font-size: 0.857rem;
  font-family: $sans-serif-font;
  font-style: normal;
  line-height: 1.071rem;
  text-transform: uppercase;
  cursor: default;

  &__text {
    margin: 0;
  }

  &__status {
    margin: 0;
    color: $dark-50;
    font-weight: 400;
  }
}
