@import '@components/button/button';
@import '@components/link/link';
@import '@components/logo/logo';

.header {
  display: flex;
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0 10px 20px $dark-05;

  &__container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__content-block {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
  }

  &__logo {
    display: flex;
  }

  &__burger-menu {
    display: none;
    max-width: 40px;
    user-select: none;
  }

  &__menu-icon {
    &_hidden {
      display: none;
    }
  }

  &__icon {
    color: $dark-50;
    font-weight: normal;
    font-size: 3.286rem;
    font-family: $material-icon-font;
    font-style: normal;
    line-height: 1.714rem;
    text-transform: none;
    vertical-align: middle;
  }

  &__nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__link {
    &-list {
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      margin: 0;
      padding: 0;
    }

    &-item {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      margin-right: 21px;
    }
  }

  &__user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__vert-block {
    min-height: 30px;
    margin-right: 20px;
    border-left: 1px solid $dark-10;
  }

  &__user-name {
    flex-shrink: 0;
    margin: 0;
    color: $dark-50;
    font-weight: normal;
    font-size: 1rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.714rem;
    cursor: default;
  }

  &__buttons-block {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > :nth-child(1) {
      margin-right: 18px;
    }
  }

  &__button {
    width: 100%;

    &_size {
      &_m {
        min-width: 197px;
      }

      &_s {
        min-width: 87px;
      }
    }
  }
}

@media (max-width: $md) {
  .header {
    position: relative;

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    &__burger-menu {
      display: block;
      cursor: pointer;
    }

    &__nav-bar {
      display: none;

      &_open {
        position: absolute;
        top: 70px;
        right: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 15px 20px;
        background-color: #fff;
        box-shadow: inset 0 5px 15px $dark-10;
      }
    }

    &__link {
      &-list {
        flex-direction: column;
        margin-bottom: 20px;
      }

      &-item {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 1.188rem;
        line-height: 1.5rem;
      }
    }

    &__buttons-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      max-width: 44px;
    }

    &__button {
      min-height: 44px;
    }

    &__user-info {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      min-width: 200px;
    }

    &__user-name {
      margin-left: 14px;
      font-size: 18px;
    }

    &__vert-block {
      display: none;
    }
  }
}
