@import '@components/footer/footer';
@import '@components/header/header';
@import '@components/logo/logo';
@import '@components/simple-footer/simple-footer';

.headers-footers {
  width: 100%;
  background: #f4f4f6;

  &__content-block {
    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 140px;
  }

  &__content {
    margin-bottom: 40px;
  }
}
