extends /components/page-head/page-head
include /components/footer/footer
include /components/header/header
include /components/logo/logo
include /components/simple-footer/simple-footer


block head
  - const title = 'Headers&Footers';
block content
  .headers-footers
    header.headers-footers__header
      .headers-footers__logo
        +logo
    main.headers-footers__content-block
      .headers-footers__content
        +header
      .headers-footers__content
        +header({isWithUserName : true})
      .headers-footers__content
        +footer
      .headers-footers__content
        +simple-footer
