.checkbox {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  &__label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 30px;
    color: $dark-50;
    font-weight: normal;
    font-size: 1rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.286rem;
    cursor: pointer;

    &_type {
      &_rich {
        flex-direction: column;
      }
    }
  }

  &__input {
    display: none;
  }

  &__mark {
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border: 1px solid $dark-25;
      border-radius: 4px;
      content: '';
    }

    /* checkbox mark by https://codepen.io/fanmanutd/pen/NWqNoKp */
    &::after {
      position: absolute;
      top: 4px;
      left: 7.3px;
      width: 6px;
      height: 8px;
      border-color: transparent;
      border-style: solid;
      border-width: 0 2px 2px 0;
      border-radius: 0;
      border-image: $primary-gradient;
      border-image-slice: 1;
      transform: rotate(45deg);
      opacity: 0;
      content: '';
    }
  }

  &__header {
    margin-top: 2px;
    margin-bottom: 5px;
    color: $dark-75;
    font-weight: bold;
    line-height: 1.286rem;
  }

  &__text {
    color: $dark-50;
    line-height: 1.286rem;
    white-space: pre-wrap;

    &_type {
      &_rich {
        font-size: 0.857rem;
        line-height: 1rem;
      }
    }

    &_size {
      &_medium {
        max-width: 200px;
      }

      &_large {
        max-width: 230px;
      }
    }
  }
}

.checkbox__input:checked + .checkbox__mark::before {
  border: 1px solid $color-one;
}

.checkbox__input:checked + .checkbox__mark::after {
  opacity: 1;
}
