.bullet-list {
  width: 100%;
  max-width: 290px;
  cursor: default;

  &__items {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: flex-start;
    width: 90%;
    margin-bottom: 10px;
    color: $dark-75;
    font-weight: normal;
    font-size: 1rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.714rem;
    list-style-type: none;

    &::before {
      display: inline-block;
      flex-shrink: 0;
      width: 10px;
      height: 10px;
      margin-top: 7px;
      margin-right: 10px;
      background-color: $dark-25;
      border-radius: 50%;
      content: '';
    }
  }
}
