@import '@components/link/link';
@import '@components/logo/logo';
@import '@components/social-icons/social-icons';
@import '@components/text-field/text-field';

.footer {
  position: relative;
  width: 100%;
  font-family: $sans-serif-font;
  font-style: normal;
  background-color: #fff;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px 81px;
    box-shadow: 0 1px 0 $dark-10;

    &-copyright {
      border-top: 1px solid #e5e5e5;
      box-shadow: 0 10px 20px $dark-05;
    }
  }

  &__block {
    &-logo {
      max-width: 260px;
      margin-right: 40px;
    }

    &-navigation {
      display: flex;
      flex-direction: row;
      width: 600px * 100%/ 1160px;
      padding-top: 5px;
    }

    &-subscription {
      max-width: 260px;
      padding-top: 5px;
      font-size: 1.714rem;
      line-height: 1.714rem;

      & > :first-child {
        margin-bottom: 18px;
      }

      & > :nth-child(2) {
        margin-bottom: 24px;
      }
    }

    &-copyright {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      padding: 23px 20px;
    }
  }

  &__logo {
    margin-bottom: 17px;
  }

  &__text {
    display: flex;
    margin: 0;
    color: $dark-75;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.714rem;
    cursor: default;
  }

  &__link {
    &-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 0;
      margin-right: 30px;
      margin-bottom: 0;
      padding: 0;
    }

    &-title {
      margin-bottom: 21px;
      color: $dark-100;
      font-weight: bold;
      font-size: 0.857rem;
      line-height: 1.071rem;
      text-transform: uppercase;
      list-style-type: none;
    }

    &-item {
      margin-bottom: 20px;
      color: $dark-50;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.3rem;
      list-style-type: none;
    }
  }

  &__header {
    margin-top: 0;
    margin-bottom: 21px;
    color: $dark-100;
    font-weight: bold;
    font-size: 0.857rem;
    line-height: 1.071rem;
    text-transform: uppercase;
  }
}

@media (max-width: $md) {
  .footer {
    &__content-block_wrapper {
      justify-content: space-around;
    }

    &__block {
      &-navigation {
        display: none;
      }
    }
  }
}

@media (max-width: $sm) {
  .footer {
    display: none;
  }
}
