.bonus-icon {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 280px;

  &__container {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  &__icon {
    align-self: center;
    max-width: 48px;
    font-weight: normal;
    font-size: 3.429rem;
    font-family: $material-icon-font;
    font-style: normal;
    line-height: 2.929rem;
    background: $primary-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__block {
    display: flex;
    margin-right: 10px;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    color: $dark-75;
    font-weight: normal;
    font-size: 1rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.714rem;
  }

  &__header {
    font-weight: bold;
  }

  &__text {
    display: inline;
    vertical-align: bottom;
  }

  &__block-line {
    width: 100%;
    border-top: 1px solid $dark-10;
  }
}
