.toggle {
  &__label {
    position: relative;
    padding-left: 50px;
    color: $dark-75;
    font-weight: normal;
    font-size: 1rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.714rem;
    cursor: pointer;
  }

  &__input {
    display: none;
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 9px 19px;
    background: #fff;
    border: 1px solid $dark-25;
    border-radius: 10px;
    transition: 0.3s;

    &::before {
      position: absolute;
      top: 3px;
      bottom: 2px;
      left: 4px;
      width: 12px;
      height: 12px;
      background: $dark-25;
      border-radius: 50%;
      transition: 0.3s;
      content: '';
    }
  }
}

.toggle__input:checked + .toggle__control {
  border: 1px solid $color-one;
}

.toggle__input:checked + .toggle__control::before {
  background: $primary-gradient;
  transform: translateX(18px);
}
