@import 'lightslider/dist/css/lightslider.min';

@import '@components/rate-button/rate-button';

.room-card {
  max-width: 270px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 20px $dark-05;

  &__container {
    padding: 20px 17px 15px 20px;
    font-family: $sans-serif-font;
    font-style: normal;
    background-color: #fff;
    border-radius: 4px;
  }

  &__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__room {
    &-info {
      margin: 0;
    }

    &-number {
      color: $dark-100;
      font-weight: bold;
      font-size: 1.357rem;
      line-height: 1.643rem;

      &_size {
        &_small {
          font-size: 1rem;
          line-height: 1.214rem;
        }
      }
    }

    &-lux {
      color: $color-one;
      font-weight: bold;
      font-size: 0.857rem;
      line-height: 1.071rem;
      text-transform: uppercase;
    }
  }

  &__price {
    align-self: flex-end;
    height: 100%;
    margin: 0;

    &-text {
      padding-left: 1px;
      color: $dark-50;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.286rem;

      &_size {
        &_small {
          font-weight: 400;
          font-size: 0.857rem;
        }
      }
    }
  }

  &__line {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 11px;
    border-top: 1px solid $dark-10;
  }

  &__reviews {
    margin: 0;
    padding-right: 3px;
    padding-bottom: 5px;

    &-text {
      color: $dark-50;
      font-weight: 700;
      font-size: 1rem;
      line-height: 1.125rem;

      &_size {
        &_narrow {
          font-weight: 400;
        }
      }
    }
  }
}

.lSSlideOuter {
  position: relative;
  max-width: 270px;
  border-radius: 4px 4px 0 0;
}

.lSSlideOuter .lSPager.lSpg {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 14px;
  margin-bottom: 12px;
  padding: 0;
}

.lSSlideOuter .lSPager.lSpg > li {
  display: inline-block;
  margin-right: 3.75px;
  padding: 0;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0;
  }
}

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: transparent;
  border: 1px solid #fff;
}

.lSSlideOuter .lSPager.lSpg > li:hover a,
.lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(31, 32, 65, 0.3);
}

a > .material-icons {
  color: #fff;
  font-weight: normal;
  font-size: 1.714rem;
  font-family: $material-icon-font;
  font-style: normal;
  line-height: 1.714rem;
  text-transform: none;
  opacity: 0;
}

.lSSlideOuter:hover .lSPrev {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 99.99%,
    rgba(255, 255, 255, 0) 100%
  );

  & i {
    opacity: 1;
  }
}

.lSSlideOuter:hover .lSNext {
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 99.99%,
    rgba(255, 255, 255, 0) 100%
  );

  & i {
    opacity: 1;
  }
}

.lSAction > a {
  position: absolute;
  top: 0;
  z-index: 99;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 151px;
  margin-top: 0;
  background-image: none;
  cursor: pointer;
}

.lSAction > .lSPrev {
  left: 0;

  & > i {
    transform: rotate(90deg);
  }
}

.lSAction > .lSNext {
  right: 0;

  & > i {
    transform: rotate(-90deg);
  }
}
