@import '@components/calc-card/calc-card';
@import '@components/dropdown-date/dropdown-date';
@import '@components/logo/logo';
@import '@components/registration-card/registration-card';
@import '@components/room-card/room-card';
@import '@components/search-card/search-card';
@import '@components/sign-in-card/sign-in-card';

.cards {
  background: #f4f4f6;

  &__content-block {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 72px 20px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > :nth-child(1) {
      margin-right: 40px;
    }

    & > :nth-child(2) {
      margin-right: 40px;
    }

    & > :nth-child(3) {
      & > :nth-child(2) {
        margin-bottom: 40px;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 380px;
  }

  &__item {
    margin-bottom: 39px;
  }
}

@media (max-width: $xs) {
  .cards {
    &__content-block {
      padding-left: 10px;
      padding-right: 10px;

      & > :nth-child(1) {
        margin-right: 0px;
      }
      
      & > :nth-child(2) {
        margin-right: 0px;
      }
    }
  }
}
