.text-field {
  width: 100%;

  &_theme {
    &_subscribe {
      position: relative;
    }
  }

  &__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  &__input {
    width: 100%;
    width: inherit;
    padding: 12.2px 15px;
    color: $dark-25;
    font-weight: normal;
    font-size: 1rem;
    font-family: $sans-serif-font;
    font-style: normal;
    line-height: 1.286rem;
    background-color: #fff;
    border: 1px solid $dark-25;
    border-radius: 4px;

    &_theme {
      &_subscribe {
        padding-right: 44px;
      }
    }

    &_active {
      border: 1px solid $dark-50;

      &::placeholder {
        color: $dark-75;
      }
    }

    &:hover {
      border: 1px solid $dark-50;

      &::placeholder {
        color: $dark-75;
      }
    }

    &:focus {
      color: $dark-75;
      border: 1px solid $dark-50;
      outline: none;

      &::placeholder {
        color: $dark-75;
      }
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 9px 10px 10px;
    font-weight: normal;
    font-size: 1.714rem;
    font-family: $material-icon-font;
    font-style: normal;
    line-height: 1.714rem;
    text-transform: none;
    background: $primary-gradient;
    background-clip: text;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-text-fill-color: transparent;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
      -webkit-background-clip: text;
      background-clip: border-box;
      -webkit-text-fill-color: transparent;
    }
  }
}
