.link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: $dark-50;
  font-weight: normal;
  font-size: 1rem;
  font-family: $sans-serif-font;
  font-style: normal;
  line-height: 1.214rem;
  text-decoration: none;

  &_active {
    color: $dark-75;
    font-weight: bold;
  }

  &__icon {
    color: $dark-50;
    font-weight: normal;
    font-size: 1.714rem;
    font-family: $material-icon-font;
    font-style: normal;
    line-height: 1.429rem;
    text-transform: none;
  }
}
